@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RacingSansOne-Regular.woff2') format('woff2'),
       url('../fonts/RacingSansOne-Regular.woff') format('woff');
}